/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;

}
body{
  background-image: url(simple-background.png);
  background-repeat: no-repeat;
  object-fit: cover;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 5.8vw;
  background: #FA7A5F;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 15vw;
}
.sidebar .logo-details{
  height: 10%;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 1.6vw;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1.5vw;
  transition: all 0.4s ease;
  font-size: 1.7vw;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 3vw;
  min-width: 50px;
  font-size: 2.5vw;
  text-align: center;
  line-height: 3vw;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 80%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #FA7A5F;
}
.sidebar li a:hover{
  background: #FFF;

}
.sidebar li a .links_name{
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #DE5854;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  border-radius: 12px;
}
.home-section{
  position: relative;
 /* background: #fff;*/
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 15%;
  width: calc(100% - 15%);
}
.home-section .text{
  display: inline-block;
  color: #DE5854;
  font-size: 27px;
  font-weight: 500;
  margin: 18px;
  margin-left: 2%;
}

.container{
  max-width: 100%;
  height: 50vh;
  width: 70vw;
  background: #ffd0cf;
  margin-left: 12vw;
  border-radius: 1rem;
}
.heading{
  width: 95%;
  justify-content: space-between;
  display: flex;
  margin-left: 1%;
}
.heading p{
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8vw;
  color: #014b6d;
  margin-left: 2%;
}
.heading .highlight{
  height: 4.5%;
  width: 5%;
  background: #e95177a1;
  position:absolute;
  float: right;
  right: 10.5%;
  transform: translate(-128%, 47%);
  top:9%;
  transition: 0.5s; 
  border-radius: 1rem; 
}
.grid-cont{
  display: grid;
  grid-template-columns: 30vw 35vw;
  margin-top: 3%;
  margin-left: 2.5%;
  grid-gap: 3%;
}
.grid-item{
  width: 100%;
  height: 100%;
}
.heading .days{
  margin-top: 0.5%;
  background-color: rgb(0, 54, 99); 
  border-radius: 1rem;
  color:white;
}
.heading ul li{
  list-style: none;
  display: inline-block;
  margin: 5px 10px 0 5px;
  font-size: 1.2vw;
}
.leftPanel{
  height: 30vh;
  width: 30vw;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 12px 16px 0 rgba(116, 83, 83, 0.2), 0 17px 50px 0 rgba(122, 89, 89, 0.281);
}
#cScenario {
  color: #014b6d;
  font-size: 1.5vw;
  margin-top: 1%;
  margin-left: 5%;
}

#scText {
  color: #014b6d;
  font-size: 1.2vw;
  margin-top: 1%;
  margin-left: 5%;
}
#percentage {
  color: #f68d3f;
  font-size: 4.5vw;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 1%;
  margin-left: 5%;
}
.rightPanel{
  height: 30vh;
  width: 35vw;
  background-image: linear-gradient(to right,#e95177, #a8468f);
  border-radius: 0.5rem;
  box-shadow: 0 12px 16px 0 rgba(116, 83, 83, 0.2), 0 17px 50px 0 rgba(122, 89, 89, 0.281);
}
#pIndex {
  color: white;
  font-size: 1.5vw;
  margin-top: 1%;
  margin-left: 5%;
}
#amount {
  color: white;
  font-size: 4vw;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 0.15rem;
  margin-left: 1.5rem;
}
#amountText {
  color: white;
  font-size: 1.2vw;
  font-family: sans-serif;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

/*Media Queries*/
@media screen and (max-width: 786px) {
  .grid-cont{
    width: 30vw;
    height: 100%;
    grid-template-columns: auto;
  }
  .leftPanel, .rightPanel{
    width: 100%;
    height: 20vh;
  }
  .container{
    width: 55vw;
  }
}
/*Links part*/
.grid-cont2{
  display: grid;
  grid-template-columns: auto auto;
  width: 68%;
  margin-left: 15%;
  margin-top: 5%;
  grid-gap: 10%;
}
.grid-item2{
  cursor: pointer;
  background-color: rgb(0, 54, 99);
  text-align: center;
  border-radius: 0.5rem;
}
.titleText{
  margin-top: 3%;
  font-size: 2vw;
  color: white;
}
a{
  text-decoration: none;
  margin-top: 3%;
  font-size: 2vw;
  color: white;
}
.icon i{
  margin-top: 5%;
  font-size: 2.5vw;
  background-color: rgb(109, 153, 189);
  color: white;
  padding: 5%;
  border-radius: 50%;
}
/*Media Queries*/
@media screen and (max-width: 786px) {
  .grid-cont2{
    width: 30vw;
    height: 100%;
    grid-template-columns: auto;
  }
}
.grid-item2:hover{
  background-color: rgb(109, 153, 189);
}
.icon i:hover{
  background-color: rgb(0, 54, 99);
}

